body {
  background-color: black;
  color: white;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* four columns */

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 10px;
  vertical-align: middle;
  width: 100%;
}
 
/* responsive media */

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

figure {
  margin: 0;
}

.work figcaption {
  margin-top: 0.5rem;
}

@media (min-width: 30em) {
  
  figure {
    max-width: 50%; /* Placeholder layout */
  }
  
  .necklace {
    position: relative;
  }
  
  .necklace figcaption {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: -1;
    padding: 1rem;
    margin-top: 0;
  }
  
   
  .necklace:hover figcaption {
    z-index: 0;
  }
